
 <!DOCTYPE html>
     <html lang="en">
     <head>
         <meta charset="UTF-8">
         <title>Home Page</title>
         <link rel="stylesheet" href="/css/style.css">
     </head>
     <body>

        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="mt-3">
                       <div class="mt-3"> 
                           This is a simple page, a guide to test a Facebook Messenger Bot
                           (demo the restaurant Messenger Bot - click on the Messenger Icon at the bottom right)
                       </div>
                        <div class="mt-3">
                            Test my bot on Messenger (alway works): 👉  <a target="_blank" href="https://web.facebook.com/messages/t/103126065669964">http://m.me/dark'sRestaurant</a>
                        </div>
                        <br/>
                        <div><b>What can this bot do?</b>
                            <ul>
                                <li>Showing menu (lunch, dinner, pub menu), showing rooms.</li>
                                <li>Take a reservation.</li>
                                <li>Automatic understand a message is a datetime or a phone number (use for taking reservation)</li>
                            </ul>
                        </div>
        
                        <div>
                            <b>New update:</b>
                            <ul>
                                <li>
                                    Add the button: "Guide to use this bot".
                                </li>
                                <li>Turn on/off typing for the bot. Mark conversation is read.</li>
        
                            </ul>
                        </div>
                    
                    </div>
                </div>
            </div>
        
     <div>
        <p>Set up start button and perisistent menu</p>
         <form action="/setup" method="POST">
             <button type="submit">Set up</button>    </form>
        <div>
            <p>Testing write data to google sheets online</p>
            <form action="/write-data" method="POST">
                <button>Write data</button>
            </form>
        </div>
     </div>
     </body>
    </html> 